################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazoredGoogleCaptcha/obj
/BlazoredGoogleCaptcha/bin
/BlazoredGoogleCaptcha.Demo/obj
*.user
